button {
    background-color: #0000CD;
    border: none;
}
body{
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	overflow-y:scroll;
}
*{
	margin: 0;
	padding: 0;
}
.bg-color-nav{
	background-color: #3b5998;
}
.color-white{
	color: white;
}
.top-navbar-size{
	width: 100%;
	height: 40px;
}
.navbar-left-div{
	width: 600px;
	margin-left: 25px;
	height: 40px;
	padding: 6px;
}
.align-left{
	float: left;
}
.align-right{
	float: right;
}
.serchtext-size{
	width: 550px;
	margin-left: 5px;
	height: 30px;
}

.navbar-right-div{
	width: 680px;
	margin-top: -34px;
	height: 30px;
	text-align: center;
}
.navbar-buttonicon-size{
	width: 100px;
	border: none;
	height: 30px;
}
.nav-link1-imagesize{
	width: 25px;
	height: 25px;
	padding-bottom: 5px;
}
.image-text-space{
	margin-left: 5px;
}
a:hover{
	border: 1px solid lightgrey;
}
.btn-hover:hover{
	background-color: #2f436d;
	color: white;
}
.button-size{
	height: 35px;
}
.searchicon-position{
	float: right;
	margin-top: -34px;
	width: 8%;
	background-color: lightgrey;
}
.backgroundProps{
	width: 1400px;
	height: 4em;
	max-width: 1400px;;
}
/*@media screen and (max-width: 1069px){
	.backgroundProps{
		background-color: red;
		width: auto;
		max-width: auto;
		color: yellow;
	}
}*/
.color-grey{
	color: grey;
}
/*@media screen and (min-width: 1069px){
	.backgroundProps{
		width: 1000px;
		overflow-x: scroll;
		background-color: red;
	}
}*/
.nav-content{
	padding: 5px;
	margin-left: 5%;
}
.nav-fbimg-size{
	width: 3em;
	height: 3em;
}
.nav-searchtext-margin{
    margin-left: -9.5%;
    float: left;
    width: 550px;
}
.search-text-size{
	width: 550px;
}
.nav-links-size{
	width: 20px;
	height: 10px;
}
.nav-link1-position{
	margin-left: 50px;
}
.nav-link1-imagesize{
	width: 25px;
	height: 25px;
}
.image-text-space{
	margin-left: 5px;
}
.nav-iconlink-position{
	margin-left: -30px;
}
.nav-icon-topmargin{
	margin-top: -20px;
	margin-left: 220px;
}
.nav-icon-leftmargin{
	margin-left: 5px;
}
.coverpage-position{
	overflow: hidden;
	background-color: white;
	width: 850px; 
	height: 30em; 
	max-width: 850px;
}
.coverpage-image-size{
    width: 100%;
    height: 90%;
}
.dropdown-size{
	margin-left: -100px;
	margin-top: 15px;
	padding: 10px;
	height: 200px;
	overflow: auto;
	width: 420px;
}
.alignleft{
	float: left;
}
.alignRight{
	float: right;
}
.popup-header-size{
	height: 20px;
}
.popupHeaderright{
	margin-left: 130px;
}
.popupLineProp{
	margin-top: 5px;
}
.popupDivisions{
	height: 45px;
	width: 375px;
	margin-top: 5px;
}
.popupImagesize{
	height: 35px;
}
.popupId{
	display: inline-block;
	width: 150px;
	vertical-align: middle;
}
.popup-buttons{
	margin-top: 5px;
}
.cursor-text{
	cursor: text;
}
.cursor-pointer{
	cursor: pointer;
}
.popupDivisions-user-lower{
	margin-top: -15px;
}
.text-align-center{
    text-align: center;
}
.scroll-height{
	height: 180px;
}
.link-fonts{
	font-size: 12px;
}
.chat-header-right{
	margin-left: 60px;
}
.chat-size{
	width: 440px;
}
.chat-division-margin{
	margin-left: -18px;
}
.lock-dropdown-size{
	height: 316px;
}
.globe-headerright-margin{
	margin-left: 190px;
}
.globe-divisions-size{
	width: 330px;
}
.lock-text-margin{
	margin-left: 35px;
}
.user-button-position{
	margin-top: -35px;
	margin-left: 205px;
}
.profilepic-lower-size{
	list-style: none;
	margin-top: 10px;
	display: -webkit-inline-box;
	list-style-type: none;
}
.profilepic-small-size{
	margin-top: -130px;
	width: 200px;
	height: 150px;
	margin-left: 25px;
	border: 5px solid white;
}
.color-lightgrey{
	background-color: lightgrey;
}
.profilepic-links-size{
	border-left: solid;
	border-color: lightgrey;
	padding: 12px;
	border-left-width: 1px;
}
.timeline-size{
	background-color: lightgrey;
	width: 220px;
	max-width: 220px;
	height: auto;
	position: fixed;
	margin-top: 60px;
	margin-left: 220px;
	border: 1.5px solid white;
	padding: 4px;
	display: inline-block;
}
.profilepic-link-margin{
	margin-left: 30px;
}
ul li a:hover{
	background-color: aliceblue;
}
.cameraicon-div{
	width: 50px;
	height: 50px;
}
#camera-icon{
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.rightpane-games-size{
	height: 130px; 
}
.rightpane-image-size{
	width: 65px;
	height: 55px;
}
.rightpane-chat-size{
	height: 415px; 
	margin-top:15px;
	overflow-y: scroll;
}
.rightpane-navbar-search{
	width: 240px;
	margin-left: 1113px;
}
.profile-details{
	margin-top: 10px;
	height: auto;
	padding: 8px;	
}
.profile-data-size{
	width: 320px;
	max-width: 320px;
}
.chat-image-size{
	width: 30px;
	height: 30px;
}
.rightpane-searchsize{
	margin-top: 20px;
	width: 220px;
	height: 25px;
}
.profiledetails-icons-size{
	width: 15px;
	height: auto;
	background-color: yellow
}
.profiledetails-data-size{
	width: auto;
	height: auto;
	background-color: lightgreen;
	margin-left: 25px;
	margin-top: -20px;
}
.font-family{
	font-family: sans-serif;
}
.timeline-position{
	margin-left: -40px;
	padding: 0px;
	width: 535px;
}
.color-simgrey{
	background-color: #F6F7F8;
}
.status-expand{
	height: auto;
	width: 535px;
	border-style: none;
	padding: 4px;
	max-width: : 495px;
}
.timeline-status-size{
	width: 535px;
	max-width: 535px;
	height: auto;
}
#postsite-size{
	width: 535px;
	max-width: 535px;
	height: 100px;
	margin-top: 2px;
	background-color: white;
}
.bgcolor-white{
	background-color: white;
}